body {
  margin: 0;
}

#three-canvas {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

.sections {
  position: relative;
  z-index: 2;
}

.section {
  box-sizing: border-box;
  padding: 5rem;
  height: 100vh;
}

.section.a h2 {
  margin: 0;
  font-size: 10vmin;
}

.section:nth-child(odd) {
  text-align: right;
}

/*  */

.wrap {
  position: relative;
}

.inner {
  max-width: 1100px;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}
.tb_row {
  display: table;
  width: 100%;
  height: 100%;
}
.tb_row .tb_cell {
  display: table-cell;
  vertical-align: middle;
}

/* main */
.fix_motion {
  position: relative;
  z-index: 1000;
  height: 5000px;
}

.no-csspositionsticky .fix_motion {
  height: auto;
}

.fix_motion .sticky_cont {
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.no-csspositionsticky .fix_motion .sticky_cont {
  position: relative;
}

.fix_motion .sticky_cont .cont_box {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.fix_motion .sticky_cont .cont_box .intro_txt {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 60;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: opacity 0.5s;
}

.fix_motion .sticky_cont .cont_box .intro_txt h2 {
  font-size: 80px;
  line-height: 1.5;
  color: #fff;
}

.fix_motion .sticky_cont .cont_box .intro_txt.active {
  opacity: 0;
}

.no-csspositionsticky .fix_motion .sticky_cont .cont_box .intro_txt {
  display: none;
}

.fix_motion .sticky_cont .cont_box .left_mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  width: 50%;
  height: 100%;
  background: #000;
}

.fix_motion .sticky_cont .cont_box .right_mask {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
  width: 50%;
  height: 100%;
  background: #000;
}

.no-csspositionsticky .fix_motion .sticky_cont .cont_box .left_mask {
  width: 0px;
}

.no-csspositionsticky .fix_motion .sticky_cont .cont_box .right_mask {
  width: 0px;
}

.fix_motion .sticky_cont .cont_box .mask_bg {
  position: absolute;
  background-color: #000;
  left: 30%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.fix_motion .sticky_cont .cont_box .ending_txt {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.no-csspositionsticky .ending_txt {
  display: none;
}

.fix_motion .sticky_cont .cont_box .ending_txt:after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  content: '';
}

.fix_motion .sticky_cont .cont_box .ending_txt.active {
  opacity: 1;
}

.fix_motion .sticky_cont .cont_box .ending_txt .tb_row {
  display: table;
  width: 100%;
  height: 100%;
}

.fix_motion .sticky_cont .cont_box .ending_txt .tb_row .tb_cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.fix_motion .sticky_cont .cont_box .ending_txt .tb_row .tb_cell p {
  font-size: 80px;
  color: #000;
  line-height: 1.5;
}

/* sec01 */

.sec01 {
  position: relative;
  z-index: 100;
  background: #111;
  display: flex;
  padding-bottom: 300px;
  justify-content: center;
  align-items: center;
}
.sec01 .nav_list {
  position: relative;
  transform: translateY(35%);
  z-index: 20;
}
.sec01 .nav_list .list li a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 5vw;
  line-height: 1.5;
  color: #fff;
  transition: transform 0.5s;
}
.sec01 .nav_list .list li a .mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  background: #fff;
  animation: text_mask 2s 1 cubic-bezier(0.24, 0.77, 0.32, 0.95) both paused;
}
.sec01 .nav_list .list li a .txt {
  position: relative;
  z-index: 20;
  display: block;
  animation: text_opacity 2s 1s 1 cubic-bezier(0.24, 0.77, 0.32, 0.95) both
    paused;
}
.sec01.active .nav_list .list li a .mask {
  animation-play-state: running;
}
.sec01.active .nav_list .list li a .txt {
  animation-play-state: running;
}

.sec01 .nav_list .list li a .mask2 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 0%;
  height: 40%;
  background: #e9c400;
  transition: width 0.5s cubic-bezier(0.24, 0.77, 0.32, 0.95);
}
.sec01 .nav_list .list li a:hover {
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
}
.sec01 .nav_list .list li a:hover .mask2 {
  width: 100%;
}
@keyframes text_mask {
  0% {
    width: 0%;
    transform: translateX(0%);
  }
  50% {
    width: 100%;
    transform: translateX(0%);
  }
  100% {
    width: 100%;
    transform: translateX(101%);
  }
}

@keyframes text_opacity {
  0% {
    opacity: 0;
    color: #3535ff;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    color: #fff;
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 1024px) {
  .ggang_box h2 {
    font-size: 32px;
  }

  .fix_motion {
    height: 3000px;
  }

  .fix_motion .sticky_cont .cont_box .intro_txt h2 {
    font-size: 50px;
  }

  .fix_motion .sticky_cont .cont_box .ending_txt .tb_row .tb_cell p {
    font-size: 50px;
  }
}
